<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="{{ url_for('static', filename="scripts/app.js") }}"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
<body ng-app="myApp">
    <div class="jumbotron text-center">
        <h1>Login</h1>
    </div>
    <div class="container" ng-controller="loginCtrl as vm">
    
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="panel panel-default">
                      <div class="panel-heading">
                            <h3 class="panel-title text-center">Sign in</h3>
                      </div>
                      <div class="panel-body">
                            <label for="">Username</label>
                            <input type="text" name="" id="input" class="form-control" value="" ng-model="vm.user.username" required="required" pattern="" title="">

                            <label for="">Password</label>
                            <input type="password" name="" id="input" class="form-control" ng-model="vm.user.password" required="required" title="">
                            
                            <br>
                            <button type="button" class="btn btn-large btn-block btn-primary" ng-click="vm.login()">Login</button>
                            <button type="button" class="btn btn-large btn-block btn-warning" ng-click="vm.register()">Register</button>
                      </div>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            </div>
        </div>
        
    </div>
</body>